@media only screen and (max-width: 750px) {
  /* line 5, ../sass/media.scss */
  .men {
    display: none;
  }

  /* line 9, ../sass/media.scss */
  .cloud {
    max-width: 70px;
  }

  /* line 13, ../sass/media.scss */
  .nav-item-1 {
    grid-row: 2;
  }

  /* line 17, ../sass/media.scss */
  .corps {
    padding-right: 20%;
  }

  /* line 21, ../sass/media.scss */
  .affirmation {
    display: flex;
    display: flex;
  }

  /* line 25, ../sass/media.scss */
  .partenaire {
    flex-wrap: wrap;
  }

  /* line 29, ../sass/media.scss */
  #sponso {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
  }

  /* line 36, ../sass/media.scss */
  button {
    margin-bottom: 10px;
  }
  /* line 38, ../sass/media.scss */
  button.btnb {
    min-width: 99%;
  }

  /* line 44, ../sass/media.scss */
  footer {
    position: relative;
    bottom: 0;
  }

  /* line 52, ../sass/media.scss */
  header {
    position: static;
    display: block;
  }
  /* line 56, ../sass/media.scss */
  header .__icon {
    position: absolute;
    display: block;
    float: left;
    width: 35px;
    height: 30px;
    background: #333;
    cursor: pointer;
  }
  /* line 66, ../sass/media.scss */
  header:after {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 0;
    top: 0;
    margin-left: 0.5em;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
  }
}
