@charset "UTF-8";
@media only screen and (max-width: 750px) {
  /* line 5, ../sass/media.scss */
  .men {
    display: none;
  }

  /* line 9, ../sass/media.scss */
  .cloud {
    max-width: 70px;
  }

  /* line 13, ../sass/media.scss */
  .nav-item-1 {
    grid-row: 2;
  }

  /* line 17, ../sass/media.scss */
  .corps {
    padding-right: 20%;
  }

  /* line 21, ../sass/media.scss */
  .affirmation {
    display: -webkit-flex;
    display: flex;
  }

  /* line 25, ../sass/media.scss */
  .partenaire {
    flex-wrap: wrap;
  }

  /* line 29, ../sass/media.scss */
  #sponso {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
  }

  /* line 36, ../sass/media.scss */
  button {
    margin-bottom: 10px;
  }
  /* line 38, ../sass/media.scss */
  button.btnb {
    min-width: 99%;
  }

  /* line 44, ../sass/media.scss */
  footer {
    position: relative;
    bottom: 0;
  }

  /* line 52, ../sass/media.scss */
  header {
    position: static;
    display: block;
  }
  /* line 56, ../sass/media.scss */
  header .__icon {
    position: absolute;
    display: block;
    float: left;
    width: 35px;
    height: 30px;
    background: #333;
    cursor: pointer;
  }
  /* line 66, ../sass/media.scss */
  header:after {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 0;
    top: 0;
    margin-left: 0.5em;
    -moz-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    -webkit-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
  }
}
/*
$$$$$$$$$$ VARIABLES  $$$$$$$$$$$$

*/
/*
$$$$$$$$$$ Général $$$$$$$$$$$$

*/
/* line 22, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  text-align: center;
  font: sans-serif 1.4em;
}

/* line 28, ../sass/style.scss */
button {
  background: #e99002;
  padding: 20px;
}

/* line 32, ../sass/style.scss */
.breakpoint {
  vertical-align: 24px;
}

/* line 36, ../sass/style.scss */
div {
  margin-top: 18px;
}

/* line 40, ../sass/style.scss */
.txt-start {
  text-align: start;
}

/*
$$$$$$$$$$ Menu $$$$$$$$$$$$

*/
/* line 1, ../sass/menu.scss */
.bluefond {
  background: #1e93cc;
}

/* line 5, ../sass/menu.scss */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

/* line 14, ../sass/menu.scss */
nav ul {
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  background: #333333;
  color: #ffffff;
}
/* line 26, ../sass/menu.scss */
nav ul li {
  padding: 20px 20px;
}
/* line 30, ../sass/menu.scss */
nav ul a {
  color: white;
  text-decoration: none;
}
/* line 34, ../sass/menu.scss */
nav ul .nav-item-1 {
  max-height: 0.5em;
  padding-bottom: 2.3em;
}

/* line 41, ../sass/menu.scss */
ul li:hover {
  text-decoration: none;
  background: #4d4d4d;
}
/* line 46, ../sass/menu.scss */
ul li:hover a {
  text-decoration: none;
}

/*
$$$$$$$$$$ En-TETE  $$$$$$$$$$$$

*/
/* line 56, ../sass/style.scss */
.news {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 63, ../sass/style.scss */
button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 65, ../sass/style.scss */
button:hover {
  background: #b67102;
}
/* line 68, ../sass/style.scss */
button.btnb {
  width: 20%;
}

/* line 74, ../sass/style.scss */
.corps {
  padding-left: 25%;
  display: flex;
  justify-content: start;
}

/* line 81, ../sass/style.scss */
.partenaire {
  background: #eeeeee;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  min-height: 250px;
}
/* line 90, ../sass/style.scss */
.partenaire .red {
  align-self: flex-end;
  padding-bottom: 50px;
}

/* line 100, ../sass/style.scss */
.bandeau {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 20px;
}

/* line 106, ../sass/style.scss */
.affirmation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 90%;
  margin: auto;
}

 /*
$$$$$$$$$$ FOOTER  $$$$$$$$$$$$

*/
/* line 121, ../sass/style.scss */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
